<h1>{{name}}</h1>
<div id='progress'></div>
<div id='subtest_wrapper'></div>
<div class='controlls clearfix'>
    <div>
        {{{transitionComment}}}
    </div>
    <button class='subtest-back navigation hidden'>{{ui.text.back}}</button>
    <button class='subtest-next navigation'>{{ui.text.next}}</button>
    <button class='skip navigation hidden'>{{ui.text.skip}}</button>
</div>
