<h3>{{name}}</h3>
{{#if enumeratorHelp}}
    <button class='subtest_help command'>{{ui.text.help}}</button>
    <div class='enumerator_help'>{{fontStyle}}>{{{enumeratorHelp}}}</div>
{{/if}}
{{#if studentDialog}}
    <div class='student_dialog' {{fontStyle}}>{{{studentDialog}}}</div>
{{/if}}
{{{grid}}}
