<h2>{{name}}</h2>
        {{enumeratorHelp}}
        {{studentDialog}}
        <div id='prototype_wrapper'></div>

        <div class='controlls clearfix'>
              {{transitionComment}}
              {{backButton}}
              <button class='subtest-next navigation'>{{@text.next}}</button>
              {{skipButton}}
            </div>
